/* NavMenu.css */
.navbar-dark {
    background-color: white;
}

.navbar-nav .nav-link {
    color: black !important;
    
}

.navbar-nav .nav-link:hover {
    background-color: #0056b3;
    border-radius: 5px;
    color: white !important;
}

.header-style{
    padding: 10px;
}

